@{
    ViewData["Title"] = "HASH";
}

<div class="container">
    <h1>HASH Generator</h1>

    @using (Html.BeginForm("Index", "Hash", FormMethod.Post))
    {
        <div class="input">
            <label>Text</label><br />
            <input type="text" placeholder=@ViewData["data"] name="data" />
        </div>

        <button style="margin-top: 16px;" type="submit">Отправить</button>
    }

    <p style="margin-top: 16px;">
        <label for="">String: </label>
        @ViewData["data"]
    </p>

    <p style="margin-top: 16px;">
        <label for="">HASH: </label>
        @ViewData["hashString"]
    </p>
</div>