@{
    ViewData["Title"] = "HASH";
}

<div class="inline-flex justify-start items-center bg-white w-full space-x-4" style="height: 59px; width: 100%;">

    <p class="text-xl font-semibold justify-start text-gray-900 w-full">@ViewData["Title"]</p>

</div>

<div class="grid grid-cols-4 gap-4">
    <div class="col-span-1">

        @using (Html.BeginForm("Index", "Hash", FormMethod.Post))
        {
            <div class="input">
                <label>Text</label><br />
                <input type="text" placeholder=@ViewData["data"] name="data" />
            </div>

            <button class="button mt-4"  type="submit">Отправить</button>
        }

        <p style="margin-top: 16px;">
            <label for="">String: </label>
            @ViewData["data"]
        </p>

        <p style="margin-top: 16px;">
            <label for="">HASH: </label>
            @ViewData["hashString"]
        </p>
    </div>
</div>