a.link {
    color: rgb(51, 51, 54);
}

a.link:hover {
    color: rgb(64, 80, 226);
}

.input {
    margin-top: 8px;
}

input {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #cecece;
    margin: 0 auto;
    padding: 8px;
    width: 100%;
}

textarea {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #cecece;
    margin: 0 auto;
    padding: 8px;
    width: 100%;
}

body {
    font-size: 14px;
}

button {
    color: rgb(51, 51, 54);
}

h1 {
    font-size: 22px;
    font-weight: 600;
    line-height: 100%;
    color: rgba(21.42, 21.61, 23.27, 1);
    margin: 16px 0 16px 0;
}