a.link {
    color: rgb(51, 51, 54);
}

a.link:hover {
    color: rgb(64, 80, 226);
}

.input {
    margin-top: 8px;
}

input {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #cecece;
    margin: 0 auto;
    padding: 8px;
    width: 100%;
}

textarea {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #cecece;
    margin: 0 auto;
    padding: 8px;
    width: 100%;
}

body {
    font-size: 14px;
}

button {
    color: rgb(51, 51, 54);
    display: contents;
}

h1 {
    font-size: 22px;
    font-weight: 600;
    line-height: 100%;
    color: rgba(21.42, 21.61, 23.27, 1);
    margin: 16px 0 16px 0;
}

.button {
    align-items: center !important;
    justify-content: center !important;
    align-content: center !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    position: relative;
    color: #ffffff !important;
    background: #356EDB;
    margin-bottom: 16px;
    border-radius: 2px;
}

.button:hover {
    background: #2551a3;
}

.button-2 {
    align-items: center !important;
    justify-content: center !important;
    align-content: center !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    position: relative;
    color: #161616 !important;
    background: #ffffff;
    margin-bottom: 16px;
    border-radius: 2px;
    border: 1px solid #999999;
    box-sizing: border-box;
}

.button-2:hover {
    background: #e9e9e9;
}