@model tomiris.Models.BlogPostModel

@{
    ViewData["Title"] = "Edit";
}


<div class="inline-flex items-center justify-start bg-white w-full" style="height: 59px;">
    <p class="text-xl font-semibold text-gray-900" style="width: 50%;">Редактировать</p>
    <a asp-action="Index" class="inline-flex space-x-2.5 items-center justify-end" style="width: 50%;">
        <p class="text-sm text-right text-gray-700">Отмена</p>
        <img src="~/img/icons/close.svg" class="w-4 h-full" style="height: auto; width: 24px;" alt="">
    </a>
</div>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <label asp-for="Name">Название</label>
    <input asp-for="Name" />
    <label asp-for="Text">Текст</label>
    <textarea asp-for="Text" cols="30" rows="10"></textarea>

    <div class="inline-flex space-x-2.5 items-center justify-end pr-4 ml-0 m-4 bg-white border border-blue-700">
        <input type="submit" value="Сохранить" style="outline: none; border: none; margin: 0;"
            class="bg-white text-blue-700 p-4" />
        <img src="~/img/icons/save.svg" class="w-4 h-full" style="height: auto; width: 24px;" alt="">
    </div>
</form>