@{
    ViewData["Title"] = "Test";
}

<div class="inline-flex justify-start items-center bg-white w-full space-x-4" style="height: 59px; width: 100%;">
    <p class="text-xl font-semibold justify-start text-gray-900 w-full">@ViewData["Title"]</p>
</div>